@model dvhd.Models.banner

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cập nhật banner</h2>
@using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new { id = "EditForm" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>                       
        <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Upload ảnh banner trang chủ (gợi ý kích cỡ 848x300)</label>
                <input name="imageFile" type="file" id="imageFile" value="" multiple="multiple" class="form-control" runat="server" onchange="uploadProcess();"/>                                
                <div id="progressbar" class="progressbar">
                    <div id="progresslabel" class="progressbarlabel"></div>
                 </div>  
              </div>
         </div> 
         <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Ảnh nền</label>
                <input name="images" type="hidden" id="images" value="@Model.images" class="form-control" />                  
                  <div id="imageShow" style="width:600px;height:200px;"><img src="@Model.images" width="600px" height="300px"></div>
              </div>
         </div>         
         <div class="col-md-6" style="display:none;">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;">link đến</label>
                 <input name="link" type="text" id="link" value="" class="form-control" placeholder="đường dẫn khi click vào text"/>
              </div>
        </div>
        <div class="col-md-6">
              <div class="form-group">
                <label for="room" style="width:auto;display:block;">Vị trí xuất hiện</label>                
                <select class="form-control" name="no" id="no">
                    <option selected="selected" disabled="disabled" value="">Chọn thứ tự xuất hiện</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                </select>
                <script>document.getElementById("no").value=@Model.no;</script>
                <input type="hidden" id="type" name="type" value="0">
              </div>
        </div>               
    </fieldset>
}
<p>
    <button type="button" class="btn btn-info" onclick="checkField();">Cập nhật</button>
</p>
<div>
    @Html.ActionLink("Danh sách", "Index")
</div>
<div id="loadingImage" name="loadingImage" style="z-index:1000;position:fixed;left:40%;top:30%;width:32px;height:32px;display:none;">
    <img src="/Images/loading.gif">
</div>
<script>

    //Image upload
    function uploadProcess() {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('imageFile');
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            break;
        }
        formdata.append("filename", "@ViewBag.filename");
        showLoadingImage();
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var progress = Math.round(evt.loaded * 100 / evt.total);
                $("#progressbar").progressbar("value", progress);
            }
        }, false);
        xhr.open('POST', '/Banner/UploadImageProcess');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                $('#imageShow').html("<img src=\"" + xhr.responseText + "\" width=600 height=200>");
                $('#images').val(xhr.responseText);
                hideLoadingImage();
            }
        }
        return false;
    }

    $("#progressbar").progressbar({
        max: 100,
        change: function (evt, ui) {
            $("#progresslabel").text($("#progressbar").progressbar("value") + "%");
        },
        complete: function (evt, ui) {
            $("#progresslabel").text("File upload successful!");
        }
    });

    function checkField() {

        if (document.getElementById("images").value == "") {
            alert("upload ảnh nền!");
            return false;
        }
        if (document.getElementById("no").value == "") {
            alert("Nhập vị trí xuất hiện!");
            document.getElementById("no").focus();
            return false;
        }
        document.getElementById("EditForm").submit();
    }

    evt.preventDefault();
</script>
