@model dvhd.Models.HoSo
@using System.Globalization;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ngaysinh = Model.ngaysinh.HasValue == true ? Model.ngaysinh.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) : "";
    var ngaycapCMT = Model.ngaycap.HasValue == true ? Model.ngaycap.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) : "";
    var thoigianvipham = Model.thoigianvipham.HasValue == true ? Model.thoigianvipham.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) : "";
    var thoigianxuly = Model.thoigianxuly.HasValue == true ? Model.thoigianxuly.Value.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) : "";
}
<style id="styleDetail" type="text/css">
    /* Ban In css*/
    .tbBanIn {
        font-size: 13px;
        font-family: "Roboto", "Arial", "sans-serif !important";
        width:99%;
        border: 1px solid #bbbcbb;
        border-collapse: collapse;
        table-layout:fixed;
    }
    .tbBanIn td, .tbBanIn th {
        border: 1px solid #bbbcbb;
        padding: 2px !important;
    }
    .tbBanIn label {
        font-weight:bold;
        margin: 0 !important;
    }
</style>

<div id="divDetail" style="width: 100%; padding: 0 10px; margin-bottom:10px;">
    <h2>Thông Tin Chi Tiết</h2>
    <h4><u>Đối Tượng Vi Phạm</u></h4>
    <table class="tbBanIn">
        
        <tr>
            @if (Model.anhdoituong != null)
            {
                <td rowspan="3" style="width:305px;">
                    <img src="@Model.anhdoituong" width="300" height="200">
                </td>
            }
            else
            {
                <td rowspan="3" style="width:305px;">
                    <img src="/Images/HoSo/no-image.png" width="300" height="200">                    
                </td>
            }
            <td style="width:19%"><label>Họ và Tên :</label></td> <td colspan="3" style="width:57%"> @Html.DisplayFor(model => model.hoten) </td>
        </tr>
        <tr>            
            <td><label>Ngày Sinh :</label></td> <td colspan="3"> @ngaysinh </td>            
        </tr>
        <tr>
            <td><label>Quốc Tịch :</label></td> <td colspan="3"> @Html.DisplayFor(model => model.quoctich) </td>
        </tr>
        <tr>
            <td><label>Hộ Khẩu Thường Trú :</label></td> <td colspan="4"> @Html.DisplayFor(model => model.hokhauthuongtru) </td>
        </tr>
        <tr>
            <td><label>Chỗ Ở Hiện Tại :</label></td> <td colspan="4"> @Html.DisplayFor(model => model.choohientai) </td>
        </tr>
        <tr>
            <td style="width:24%"><label>Họ Tên Cha :</label></td> <td style="width:24%"> @Html.DisplayFor(model => model.hotencha) </td>
            <td style="width:24%"><label>Họ Tên Mẹ :</label></td> <td colspan="2"> @Html.DisplayFor(model => model.hotenme)</td>
        </tr>
        <tr>
            <td><label>Số CMND/Hộ Chiếu :</label></td> <td> @Html.DisplayFor(model => model.cmthochieu) </td>
            <td><label>Ngày Cấp :</label></td> <td colspan="2"> @ngaycapCMT </td>
        </tr>
        <tr>
            <td><label>Cơ Quan Cấp :</label></td> <td> @Html.DisplayFor(model => model.coquancap) </td>
            <td><label>Nơi Cấp :</label></td> <td colspan="2"> @Html.DisplayFor(model => model.noicap) </td>
        </tr>
        <tr>
            <td><label>Nơi Công Tác :</label></td> <td colspan="4"> @Html.DisplayFor(model => model.noicongtac) </td>            
        </tr>
        <tr>
            <td><label>Địa Chỉ Cơ Quan :</label></td> <td colspan="4"> @Html.DisplayFor(model => model.diachicoquan) </td>
        </tr>
        <tr>
            <td><label>Đặc Điểm Nhận Dạng :</label></td> <td colspan="4"> @Html.DisplayFor(model => model.dacdiemnhandang) </td>            
        </tr>
        <tr>
            <td><label>Tiền Án Tiền Sự :</label></td> <td colspan="4"> @Html.DisplayFor(model => model.tienantiensu) </td>
        </tr>
    </table>
    
    <h4><u>Hành Vi Vi Phạm</u></h4>
    <table class="tbBanIn">
        <tr>
            <td style="width:305px;"><label>Thời Gian Vi Phạm :</label></td> <td style="width:10%"> @thoigianvipham </td>
            <td style="width:13%"><label>Địa Điểm Vi Phạm :</label></td> <td colspan="2"> @Html.DisplayFor(model => model.quanvipham) , @Html.DisplayFor(model => model.tinhvipham) </td>            
        </tr>
        <tr>
            <td><label>Mô Tả Vi Phạm :</label></td> <td colspan="4"> @Html.DisplayFor(model => model.motavipham) </td>
        </tr>
        <tr>
            <td><label>Hình Thức Vi Phạm :</label></td> <td> @Html.DisplayFor(model => model.hinhthucvipham) </td>
            <td><label>Hành Vi Vi Phạm :</label></td> <td colspan="2"> @Html.DisplayFor(model => model.hanhvivipham)</td>            
        </tr>
        <tr>
            <td><label>Phương Thức Vận Chuyển :</label></td> <td> @Html.DisplayFor(model => model.phuongthucvanchuyen) </td>
            <td><label>Tuyến Đường Vận Chuyển :</label></td> <td colspan="2"> @Html.DisplayFor(model => model.tuyenduongvanchuyen)</td>            
        </tr>      
        <tr>
             @if (Model.anhdongvat != null)
             {
                <td rowspan="3">
                    <img src="@Model.anhdongvat" width="300" height="200">
                </td>
             }
             else
             {                
                <td rowspan="3">
                    <img src="/Images/HoSo/no-image.png" width="300" height="200">
                </td>
             }
            <td><label>Động Vật Hoang Dã :</label></td> <td> @Html.DisplayFor(model => model.loaidongvat)</td>            
            <td><label>Trị Giá Tang Vật :</label></td> <td> @Html.DisplayFor(model => model.trigiatangvat)</td>            
        </tr>
        
        <tr>
            <td><label>Số Lượng Chi Tiết :</label></td> <td colspan="3"> @Html.DisplayFor(model => model.soluongchitiet) </td>
            
        </tr>
        <tr>
            <td><label>Đơn Vị Bắt Giữ :</label></td> <td> @Html.DisplayFor(model => model.donvibatgiu) </td>
            <td><label>Tên Đơn Vị Bắt Giữ :</label></td> <td> @Html.DisplayFor(model => model.tendonvibatgiu)</td>            
        </tr>
    </table>
           
    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.tinhtrangsong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tinhtrangsong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.donvitinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.donvitinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trigiatangvat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trigiatangvat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tinhtrangbaoton)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tinhtrangbaoton)
    </div>*@
    
    <h4><u>Xử Lý Vi Phạm</u></h4>
    <table class="tbBanIn">
        <tr>
            <td style="width:15%"><label>Thời Gian Xử Lý :</label></td> <td style="width:15%"> @thoigianxuly </td>
            <td style="width:25%"><label>Kết Quả Xử Lý :</label></td> <td> @Html.DisplayFor(model => model.ketquaxuly) </td>            
        </tr>
        <tr>
            <td><label>Đơn Vị Xử Lý :</label></td> <td> @Html.DisplayFor(model => model.donvixuly) </td>
            <td><label>Tên Đơn Vị Xử Lý :</label></td> <td> @Html.DisplayFor(model => model.tendonvixuly) </td>            
        </tr>
        <tr>
            <td><label>Cán Bộ Xử Lý :</label></td> <td> @Html.DisplayFor(model => model.hotencanboxuly) </td>
            <td><label>Cấp Bậc :</label></td> <td> @Html.DisplayFor(model => model.capbac) </td>            
        </tr>
        <tr>
            <td><label>Địa Chỉ Liên Hệ :</label></td> <td colspan="3"> @Html.DisplayFor(model => model.diachilienhe) </td>
        </tr>
        <tr>
            <td><label>Ngày Xử Lý :</label></td> <td> @Html.DisplayFor(model => model.ngayxuly) </td>
            <td><label>Bị Can :</label></td> <td> @Html.DisplayFor(model => model.bican) </td>            
        </tr>
        <tr>
            <td><label>Kết Quả Xử Lý Chi Tiết :</label></td> <td colspan="3"> @Html.DisplayFor(model => model.ketquaxulychitiet) </td>
        </tr>
        <tr>
            <td><label>Mô Tả Xử Lý :</label></td> <td colspan="3"> @Html.DisplayFor(model => model.motachitietxuly) </td>
        </tr>
    </table>          
</div>

<div style="width:100%;text-align:center;">
    <input type="button" value="In Thông Tin Chi Tiết" onclick="printDetails();" />
    <input type="button" value="Xuất ra file PDF" onclick="createPDF();" />
</div>

<script type="text/javascript">
    function printDetails() {
        var mywindow = window.open('', 'Thông Tin Chi Tiết', 'height=650,width=1200');
        mywindow.document.write('<html><head><title>Thông Tin Chi Tiết</title>');
        mywindow.document.write('<style type="text/css">' + $("#styleDetail").html() + '</style>');
        mywindow.document.write('</head><body >');
        mywindow.document.write($("#divDetail").html());
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();
    }

    function createPDF() {
        $.ajax({
            url: '@Url.Action("createReport")',
            data: { html: $("#divDetail").html() },
            type: 'POST',
            success: function (result) {
                //window.open("/Images/Report/" + result);
                alert(result);
            }
        });
    }
</script>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
