@model dvhd.Models.HoSo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>HoSo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hoten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hoten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngaysinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngaysinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quoctich)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quoctich)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hokhauthuongtru)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hokhauthuongtru)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.choohientai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.choohientai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hotencha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hotencha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hotenme)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hotenme)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cmthochieu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cmthochieu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.noicap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.noicap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngaycap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngaycap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.coquancap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.coquancap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.noicongtac)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.noicongtac)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.diachicoquan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.diachicoquan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.anhdoituong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.anhdoituong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dacdiemnhandang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dacdiemnhandang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tienantiensu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tienantiensu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.thoigianvipham)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.thoigianvipham)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quanvipham)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quanvipham)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tinhvipham)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tinhvipham)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.motavipham)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.motavipham)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hinhthucvipham)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hinhthucvipham)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hanhvivipham)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hanhvivipham)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phuongthucvanchuyen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phuongthucvanchuyen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tuyenduongvanchuyen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tuyenduongvanchuyen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.loaidongvat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.loaidongvat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tinhtrangsong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tinhtrangsong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.donvitinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.donvitinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trigiatangvat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trigiatangvat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tinhtrangbaoton)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tinhtrangbaoton)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.anhdongvat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.anhdongvat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.donvibatgiu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.donvibatgiu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tendonvibatgiu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tendonvibatgiu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.thoigianxuly)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.thoigianxuly)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ketquaxuly)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ketquaxuly)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.donvixuly)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.donvixuly)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tendonvixuly)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tendonvixuly)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hotencanboxuly)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hotencanboxuly)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.capbac)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.capbac)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.diachilienhe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.diachilienhe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayxuly)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayxuly)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bican)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bican)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ketquaxulychitiet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ketquaxulychitiet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.motachitietxuly)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.motachitietxuly)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
