@model PagedList.IPagedList<dvhd.Models.HoSo>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Danh sách đối tượng vi phạm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Danh sách đối tượng vi phạm</h2>
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
@if (Model.PageCount>1){
    <div class="col-md-12">
    <ul class="pagination clearfix">
            <li class="disabled"><a href="#">«</a></li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i != ViewBag.page){
                   <text><li><a href="/hoso/Index?page=@i">@i</a></li></text>
                }else{
                   <text><li><a href="/hoso/Index?page=@i" style="background-color:#8a6d3b;">@i</a></li></text>
                }
            }
    </ul>
    </div>
}
<table class="tbBanIn">
    <tr>
        <th>
            Tên đối tượng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Quận huyện
        </th>
        <th>
            Tỉnh thành
        </th>
        <th>
            Hành vi vi phạm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Loài vi phạm
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.hoten
        </td>
        <td width="20%">
            @item.hokhauthuongtru
        </td>
        <td>
            @item.quanvipham
        </td>
        <td>
           @item.tinhvipham
        </td>
        <td>
           @item.hanhvivipham
        </td>
        <td>
           @item.soluongchitiet
        </td>
        <td>
           @item.loaidongvat
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.id }) |
            @Html.ActionLink("Bản in", "Details", new { id = item.id }, new { target="_blank"}) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
@if (Model.PageCount>1){
    <div class="col-md-12">
    <ul class="pagination clearfix">
            <li class="disabled"><a href="#">«</a></li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i != ViewBag.page){
                   <text><li><a href="/hoso/Index?page=@i">@i</a></li></text>
                }else{
                   <text><li><a href="/hoso/Index?page=@i" style="background-color:#8a6d3b;">@i</a></li></text>
                }
            }
    </ul>
    </div>
}
