@model dvhd.Models.user

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cập nhật user và phân quyền</h2>
@using (Html.BeginForm("Edit", "users", FormMethod.Post, new { id = "EditForm" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <fieldset>
        <div class="col-md-12">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;">User name * </label>
                 <input name="name" type="text" tabindex="1" id="name" value="@Model.name" class="form-control" placeholder="Nhập user name"/>               
              </div>
        </div>
        <div class="col-md-12">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;">password * </label>
                 <input name="pass" type="password" tabindex="1" id="pass" value="" class="form-control" placeholder="Nhập password"/>               
              </div>
        </div>
        <div class="col-md-12">
              <div class="form-group">
                  <input type="button" value="Cập nhật thông tin" onclick="checkField();"/>
              </div>
        </div>      
        <div class="col-md-12">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;">Thuộc đơn vị * </label>
                 <select id="groups" class="form-control" name="groups" tabindex="33" onchange="changePermission();">                   
                    <option value="Tổng cục môi trường">Tổng cục môi trường</option>
                    <option value="Cảnh sát môi trường" selected>Cảnh sát môi trường</option>
                    <option value="Hải quan">Hải quan</option>
                    <option value="Kiểm lâm">Kiểm lâm</option>
                    <option value="Quản lý thị trường">Quản lý thị trường</option>
                    <option value="Viện kiểm sát">Viện kiểm sát</option>
                    <option value="Tòa án">Tòa án</option>
                    <option value="Cơ quan điều tra">Cơ quan điều tra</option>
                    <option value="Nhập dữ liệu">Nhập dữ liệu</option>
                    <option value="Admin hệ thống">Admin hệ thống</option>
                </select>              
                <script>document.getElementById("groups").value="@Html.Raw(@Model.groups)";</script>
              </div>
        </div>
        <div class="col-md-12">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;">PHÂN QUYỀN CHO USER</label>
                 <input type="checkbox" id="ALL" onclick="checkAll(this, 'ALL');">TẤT CẢ   
                 <input type="hidden" value="@Model.permission" id="permission" name="permission">          
              </div>
        </div>
        <div class="col-md-12">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;"><input type="checkbox" id="HS" onclick="checkHS();">Quyền truy cập hồ sơ đối tượng vi phạm</label>
                 <input type="checkbox" id="HS0" onclick="checkPermission(this, 'HS0');">Xem danh sách 
                 <input type="checkbox" id="HS1" onclick="checkPermission(this, 'HS1');">Tạo mới hồ sơ
                 <input type="checkbox" id="HS2" onclick="checkPermission(this, 'HS2');">Xem và in hồ sơ 
                 <input type="checkbox" id="HS3" onclick="checkPermission(this, 'HS3');">Sửa hồ sơ 
                 <input type="checkbox" id="HS4" onclick="checkPermission(this, 'HS4');">Xóa hồ sơ             
              </div>
        </div>
        <div class="col-md-12">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;"><input type="checkbox" id="BC_1_3" onclick="checkBC(1, 3);">Quyền truy cập xem báo cáo thông tin vi phạm</label>
                 <input type="checkbox" id="BC1" onclick="checkPermission(this, 'BC1');">Xem báo cáo theo loài bị vi phạm
                 <input type="checkbox" id="BC2" onclick="checkPermission(this, 'BC2');">Xem báo cáo theo địa bàn vi phạm
                 <input type="checkbox" id="BC3" onclick="checkPermission(this, 'BC3');">Xem báo cáo theo đối tượng vi phạm                   
              </div>
        </div>
        <div class="col-md-12">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;"><input type="checkbox" id="BC_4_5" onclick="checkBC(4, 5);">Quyền truy cập xem báo cáo hành vi vi phạm</label>
                 <input type="checkbox" id="BC4" onclick="checkPermission(this, 'BC4');">Xem báo cáo theo hình thức vi phạm(hành chính, hình sự)
                 <input type="checkbox" id="BC5" onclick="checkPermission(this, 'BC5');">Xem báo cáo theo hành vi vi phạm(buôn bán, vận chuyển, nuôi nhốt...)
              </div>
        </div>
         <div class="col-md-12">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;"><input type="checkbox" id="BC_6_9" onclick="checkBC(6, 9);">Quyền truy cập xem báo cáo kết quả xử lý</label>
                 <input type="checkbox" id="BC6" onclick="checkPermission(this, 'BC6');">Xem báo cáo số vụ xử lý hình sự
                 <input type="checkbox" id="BC7" onclick="checkPermission(this, 'BC7');">Xem báo cáo số vụ xử lý hành chính
                 <input type="checkbox" id="BC8" onclick="checkPermission(this, 'BC8');">Xem báo cáo số vụ không xử lý 
                 <input type="checkbox" id="BC9" onclick="checkPermission(this, 'BC9');">Xem báo cáo tổng hợp 
              </div>
        </div>
        <div class="col-md-12">
              <div class="form-group">
                 <label for="room" style="width:auto;display:block;"><input type="checkbox" id="US" onclick="checkUS();">Quyền truy cập quản lý user đăng nhập</label>
                 <input type="checkbox" id="US0" onclick="checkPermission(this, 'US0');">Xem danh sách user đăng nhập
                 <input type="checkbox" id="US1" onclick="checkPermission(this, 'US1');">Tạo user đăng nhập
                 <input type="checkbox" id="US2" onclick="checkPermission(this, 'US2');">Sửa user đăng nhập 
                 <input type="checkbox" id="US3" onclick="checkPermission(this, 'US3');">Xóa user đăng nhập    
              </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="button" value="Cập nhật quyền" onclick="updatePermission();"/>
          </div>
        </div>
    </fieldset>
}    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function showPermission(permission) {
        var count = 0;
        var totalcount = 0;
        for (var i = 0; i <= 4; i++)
            if (permission.indexOf("HS"+i)>=0)
            {
                totalcount++;
                count++;
                document.getElementById("HS" + i).checked = true;
            }
        if (count >= 5) document.getElementById("HS").checked = true;
        count = 0;
        for (var i = 1; i <= 3; i++)
            if (permission.indexOf("BC" + i) >= 0) {
                totalcount++;
                count++;
                document.getElementById("BC" + i).checked = true;
            }
        if (count >= 3) document.getElementById("BC_1_3").checked = true;
        count = 0;
        for (var i = 4; i <= 5; i++)
            if (permission.indexOf("BC" + i) >= 0) {
                totalcount++;
                count++;
                document.getElementById("BC" + i).checked = true;
            }
        if (count >= 2) document.getElementById("BC_4_5").checked = true;
        count = 0;
        for (var i = 6; i <=9; i++)
            if (permission.indexOf("BC" + i) >= 0) {
                totalcount++;
                count++;
                document.getElementById("BC" + i).checked = true;
            }
        if (count >= 4) document.getElementById("BC_6_9").checked = true;
        count = 0;
        for (var i = 0; i <= 3; i++)
            if (permission.indexOf("US" + i) >= 0) {
                totalcount++;
                count++;
                document.getElementById("US" + i).checked = true;
            }
        if (count >= 4) document.getElementById("US").checked = true;
        if (totalcount >= 18) document.getElementById("ALL").checked = true;

    }
    showPermission("@Model.permission");
    function checkField() {
        //alert(document.getElementById("permission").value);
        //return;
        if (document.getElementById("name").value == "") {
            alert("Nhập user name");
            document.getElementById("name").focus();
            return;
        }
        if (document.getElementById("pass").value == "") {
            alert("Nhập password");
            document.getElementById("pass").focus();
            return;
        }
        if (document.getElementById("permission").value == "") {
            alert("Bạn chưa phân quyền user");
            return;
        }
        document.getElementById("EditForm").submit();
    }
    function updatePermission() {
        if (document.getElementById("permission").value == "") {
            alert("Bạn chưa phân quyền user");
            return;
        }
        var id = @ViewBag.id;
        var permission=document.getElementById("permission").value;
        var formdata = new FormData(); //FormData object
        formdata.append("id", id);
        formdata.append("permission", permission);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/users/updatePermission');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == 0) {
                    alert("Lỗi không cập nhật được phân quyền, kiểm tra hệ thống!");
                } else {
                    alert("Cập nhật quyền cho user thành công!");
                    window.location.href = "/users/Index";
                }
            }
        }
    }
</script>
