@model List<dvhd.Models.HoSo>

@{
    ViewBag.Title = "Báo cáo theo Hình Thức Vi Phạm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/printStyle.css" />

<h2>Báo Cáo Theo Hình Thức Vi Phạm</h2>

<div class="col-md-12 noPrint">
    <div class="form-group">
    <label for="room" style="width:auto;display:block;">Hình thức vi phạm</label>
    @Html.Partial("~/Views/baocao/_HinhThucVP.cshtml")
    </div>
</div>

<div class="col-md-12 noPrint" style="text-align:center;">
    <input id="btnCreateReportBanIn" type="button" value="Bản in" onclick="baocao_createPDFBanin();" />
    @*<input id="btnCreateReport" type="button" value="Xuất ra PDF file" onclick="baocao_createPDF('baocao_loaiDVHD', 1);" disabled="disabled" />*@
</div>

<div id="divResult" class="col-md-12">
    <label id="countResult"></label>
    <table id="tbResult" class="tbBanIn">
        @if (Model != null && Model.Count > 0) { 
            <tr>
                <th style="width:22px;">Stt</th><th style="width:70px;">Hình Thức Vi Phạm</th><th style="width:70px;">Hành Vi Vi Phạm</th>
                <th style="width:100px;">Loại Vi Phạm</th><th style="width:100px;">Địa Điểm Vi Phạm</th>
		        <th style="width:470px;">Mô Tả Chi Tiết</th><th style="width:150px;">Số Lượng Chi Tiết</th><th style="width:120px;">Tên Đơn Vị Bắt Giữ</th>
		        <th style="width:70px;">Phương Thức Vận Chuyển</th><th style="width:70px;">Tuyến Đường Vận Chuyển</th><th style="width:75px;">Ngày Vi Phạm</th>
            </tr>
            for (var i = 0; i<Model.Count; i++) {
                var hoso = Model[i];
                var thoigianvipham = hoso.thoigianvipham.HasValue == true ? hoso.thoigianvipham.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "";
                <tr>
                    <td>@(i + 1)</td><td>@hoso.hinhthucvipham</td><td>@hoso.hanhvivipham</td>
                    <td>@hoso.loaidongvat</td><td>@hoso.quanvipham/@hoso.tinhvipham</td><td>@hoso.motavipham</td>
                    <td>@hoso.soluongchitiet</td><td>@hoso.tendonvibatgiu</td>
                    <td>@hoso.phuongthucvanchuyen</td><td>@hoso.tuyenduongvanchuyen</td><td>@thoigianvipham</td>
                </tr>
            }        
        }
    </table>
</div>

<script type="text/javascript">
    var urlCreateBaoCaoPDF = '@Url.Action("createReport")';    
</script>

