@model List<dvhd.Models.HoSo>

@{
    ViewBag.Title = "Báo cáo theo Hình Thức Xử Lý";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Báo Cáo Theo Hình Thức Xử Lý</h2>
<style id="styleDetail" type="text/css">
   /* Ban In css*/
    .tbBanIn {
        width:100%;
        border: 1px solid #bbbcbb;
        border-collapse: collapse;
    }
    .tbBanIn td, .tbBanIn th {
        border: 1px solid #bbbcbb;
        padding: 2px !important;
    }
    .tbBanIn label {
        margin: 0 !important;
    }
</style>

<div class="col-md-12" style="text-align:center;">
    <input id="btnCreateReportBanIn" type="button" value="Bản in" onclick="baocao_createPDFBanin();" disabled="disabled" />
    @*<input id="btnCreateReport" type="button" value="Xuất ra PDF file" onclick="baocao_createPDF('baocao_loaiDVHD', 1);" disabled="disabled" />*@
</div>

<div id="divResult" class="col-md-12">
    <label id="countResult"></label>
    <table id="tbResult" class="tbBanIn">
        <tr>
            <th>Stt</th><th>Kết Quả Xử Lý</th><th>Kết Quả Xử Lý Chi Tiết</th>
            <th>Đơn Vị Xử Lý</th><th>Tên Đơn Vị Xử Lý</th>
		    <th>Bị Can</th><th>Mô Tả Chi Tiết Xử Lý</th><th>Mô Tả Chi Tiết</th>
		    <th>Hành Vi Vi Phạm</th><th>Ngày Xử Lý</th><th>Cán Bộ Xử Lý</th>
        </tr>
        @if (Model != null && Model.Count > 0)
        { 
            for (var i = 0; i < Model.Count; i++)
            {
                var hoso = Model[i];
                var ngayxuly = hoso.ngayxuly.HasValue == true ? hoso.ngayxuly.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "";
            <tr>
                <td>@(i + 1)</td><td>@hoso.ketquaxuly</td><td>@hoso.ketquaxulychitiet</td>
                <td>@hoso.donvixuly</td><td>@hoso.tendonvixuly</td>
                <td>@hoso.hoten</td><td>@hoso.motachitietxuly</td><td>@hoso.motavipham</td>
                <td>@hoso.hanhvivipham</td><td>@ngayxuly</td><td>@hoso.hotencanboxuly</td>
             </tr>
            }
        }        
    </table>
</div>

<script type="text/javascript">
    var urlCreateBaoCaoPDF = '@Url.Action("createReport")';
</script>

