@model List<dvhd.Models.HoSo>

@{
    ViewBag.Title = "Báo cáo theo Hình Thức Xử Lý";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/printStyle.css" />

<!-- Reservation form -->
<section id="reservation-form" style="margin-top:10px;" class="noPrint">
  <div class="container">
    <div class="row">
      <div class="col-md-12">  
        <h3 id="titleXuLy"></h3>        
        <form class="form-inline reservation-horizontal clearfix" role="form"   name="reservationform" id="reservationform">
          <div class="row">
              <div class="col-sm-2" >
                  <div class="form-group">
                    <label>Từ ngày</label>
				    <input name="fromdate" type="date" id="fromdate" value="@dvhd.Config.showDate((DateTime)@ViewBag.fdate)" class="form-control" placeholder="Từ ngày" />              
                  </div>
              </div>
              <div class="col-sm-2" >
                  <div class="form-group">
                    <label>Đến ngày</label>
				    <input name="todate" type="date" id="todate" value="@dvhd.Config.showDate((DateTime)@ViewBag.tdate)" class="form-control" placeholder="Đến ngày" />               
                  </div>
              </div>
              <div class="col-sm-2" >
                  <div class="form-group">
                    <label>Tìm</label>
				    <input type="button" style="height:32px;" value="Tìm kiếm" onclick="searchxuly('@Html.Raw(@ViewBag.type)', getDateIdNew(document.getElementById('fromdate').value), getDateIdNew(document.getElementById('todate').value));" />            
                  </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>  
<div class="col-md-12 noPrint" style="text-align:center;">
    <input id="btnCreateReportBanIn" type="button" value="Bản in" onclick="baocao_createPDFBanin();" />
    <input id="btnCreateReport" type="button" value="Xuất ra Excel file" onclick="ExportExcel(getUrlParameter('type'), 6,getDateIdNew(document.getElementById('fromdate').value), getDateIdNew(document.getElementById('todate').value));" />
</div>

<div id="divResult" class="col-md-12">
    @if (Model != null && Model.Count > 0)
    { 
        <label id="countResult">Tổng Số Vụ Vi Phạm : @Model.Count</label>
    }
    <table id="tbResult" class="tbBanIn">
        <tr>
            <th style="width:22px;">Stt</th><th style="width:70px;">Kết Quả Xử Lý</th><th style="width:100px;">Kết Quả Xử Lý Chi Tiết</th>
            <th style="width:100px;">Tên Đơn Vị Xử Lý</th>
		    <th style="width:100px;">Bị Can</th><th style="width:100px;">Mô Tả Chi Tiết Xử Lý</th><th style="width:500px;">Mô Tả Chi Tiết Vi Phạm</th>
		    <th style="width:100px;">Hành Vi Vi Phạm</th><th style="width:75px;">Ngày Xử Lý</th>
            <th style="width:90px;">Cán Bộ Xử Lý</th><th style="width:70px;">Cấp Bậc</th>
        </tr>
        @if (Model != null && Model.Count > 0)
        { 
            for (var i = 0; i < Model.Count; i++)
            {
                var hoso = Model[i];
                var ngayxuly = hoso.thoigianxuly.HasValue == true ? hoso.thoigianxuly.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "";
            <tr>
                <td>@(i + 1)</td><td>@hoso.ketquaxuly</td><td>@hoso.ketquaxulychitiet</td>
                <td>@hoso.tendonvixuly</td><td>@hoso.hoten</td>
                <td>@hoso.motachitietxuly</td><td>@hoso.motavipham</td>
                <td>@hoso.hanhvivipham</td><td>@ngayxuly</td><td>@hoso.hotencanboxuly</td><td>@hoso.capbac</td>
             </tr>
            }
        }        
    </table>
</div>

<script type="text/javascript">    
    $(function () {
        var rs = getUrlParameter('type');
        if (rs == "@Html.Raw(@dvhd.Config.ketquaxuly[2])") {
            $("#titleXuLy").text("Báo Cáo Tổng Hợp Danh Sách Xử Lý Hình Sự");
        } else if (rs == "@Html.Raw(@dvhd.Config.ketquaxuly[1])") {
            $("#titleXuLy").text("Báo Cáo Tổng Hợp Danh Sách Xử Lý Hành Chính");
        } else if (rs == "@Html.Raw(@dvhd.Config.ketquaxuly[3])") {
            $("#titleXuLy").text("Báo Cáo Tổng Hợp Danh Sách Không Xử Lý");
        } else {
            $("#titleXuLy").text("Báo Cáo Tổng Hợp Kết Quả Xử Lý Vi Phạm");
        }        
    });

    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        var paraValue = "";
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                paraValue = decodeURIComponent(sParameterName[1]);
                break;
            }
        }
        return paraValue.toLowerCase();
    }    
    function searchxuly(type,fromdate,todate){
        location.href="/baocao/xuly?type="+type+"&fromdate="+fromdate+"&todate="+todate;
    }
</script>

