@model dvhd.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-left:20px;width:100%;">
    <h2>@Html.Raw(@Model.title)</h2>
    <h5>@Html.Raw(@Model.des)</h5>
    <p>@Html.Raw(@Model.fullcontent)</p>
</div>

