<select id="ketquaxuly" class="form-control" name="ketquaxuly" tabindex="32" onchange="selectKetQuaXuLy();">
    <option value="@Html.Raw(@dvhd.Config.ketquaxuly[0])">@Html.Raw(@dvhd.Config.ketquaxuly[0])</option>
    <option value="@Html.Raw(@dvhd.Config.ketquaxuly[1])" selected>@Html.Raw(@dvhd.Config.ketquaxuly[1])</option>
    <option value="@Html.Raw(@dvhd.Config.ketquaxuly[2])">@Html.Raw(@dvhd.Config.ketquaxuly[2])</option>
    <option value="@Html.Raw(@dvhd.Config.ketquaxuly[3])">@Html.Raw(@dvhd.Config.ketquaxuly[3])</option>
</select>
