<select id="ketquaxuly" class="form-control" name="ketquaxuly" tabindex="32">
    <option value="@dvhd.Config.ketquaxuly[0]">@dvhd.Config.ketquaxuly[0]</option>
    <option value="@dvhd.Config.ketquaxuly[1]" selected>@dvhd.Config.ketquaxuly[1]</option>
    <option value="@dvhd.Config.ketquaxuly[2]">@dvhd.Config.ketquaxuly[2]</option>
    <option value="@dvhd.Config.ketquaxuly[3]">@dvhd.Config.ketquaxuly[3]</option>
</select>
